.aboutContainer{
    background-color: rgb(137, 170, 88);
}

.about-side-bar{
    position: sticky;
    display: flex;
    top: 200px;
    background-color: rgba(171, 250, 52, 0.418);
    width: 10%;
    max-width: 300px;
    height: fit-content;
    border-radius: 10px;
  }

.about-side-bar ul {
    list-style-type: none;
    text-align: center;
}

.about-side-bar ul a {
    border: 1px solid black;
    text-decoration: none;
    color: black;
}
   