header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: green;
    height: fit-content;
    color: black;
    vertical-align: middle;
}

nav {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align:middle;
}